.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(185, 41%, 84%);
}
.attribution{
    padding-top: 3em;
    padding-bottom: 3em;
}
@media screen and (max-width: 480px){.footer{
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    }
 }