.main{
    width: 100%;
    display: flex;
    height: 400px;
    background-color: hsl(185, 41%, 84%);
    justify-content: center;
}
.calculadora{
    width: 50%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
   
    
   
    
}
.bill{
    width: 40%;
    height: 245PX;
    background-color:white;
    border-radius: 15px;
    
}

.valor{
    width:40%;
    height: 245PX;
   background-color:hsl(183, 100%, 15%);
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   
  

}


.input-bill{
    padding-top: 1em;
    background-color:hsl(189, 41%, 97%);
    border-radius: 5px;
    width: 90%;
    color:hsl(183, 100%, 15%);
    font-weight: bolder;
    font-size: 16px;
    text-align:end;
    cursor: pointer;
}
.input-people{
    padding-top: 1em;
    background-color:hsl(189, 41%, 97%);
    border-radius: 5px;
    width: 90%;
    color:hsl(183, 100%, 15%);
    font-weight: bolder;
    font-size: 16px;
    text-align:end;
    cursor: pointer;
    outline: none;
}
.input-people::placeholder{
    background: url(../images/icon-person.svg) no-repeat;
    background-position: 1em;
    
}
.input-bill::placeholder{
    background: url(../images/icon-dollar.svg) no-repeat;
    background-position: 1em;
}
.porcentagem{
    padding-top: 1em;
    
}
.opcoes_porcentagem{
    padding-top: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    font-size: 24px;
    
}
.botao{
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    color: white;
    width: 60px;
    height: 35px;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: bolder;
    cursor: pointer;

}
.aviso{
    font-size: 12px;
    color: rgb(201, 25, 25);
    margin-left: 50px;
}
.valores{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100PX;
    padding-top: 2em;
    padding-left: 2em;
    color: hsl(172, 67%, 45%);

}
.valores_letras{
    color:hsl(0, 0%, 100%);
    width: 50%;
    font-size: 12px;
}
.valores_numero{
    color:hsl(172, 67%, 45%);
    font-weight: bolder;
    font-size: 24px;
}

.reset{
    width: 100%;
    height: 40PX;
    

    
}
.botao_reset{
    width: 220px;
    height: 30px;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0.25em;
    background: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
    border: 1px #ffffff;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}
.botao:hover{
    border-color: hsl(172, 67%, 45%);
    border-width: 3px;
}
.input-bill:hover {
	border-color: hsl(172, 67%, 45%);
    border-width: 3px;
}
.input-people:hover {
	border-color: rgb(201, 25, 25);
    border-width: 3px;
}
